[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ccxt = "*"
python-dotenv = "*"
websockets = "*"
aiocache = "*"
uuid = "*"
scikit-learn = "*"
wasmtime = "*"
uvloop = "*"
plotly = "*"
nbformat = "*"
matplotlib = "*"
seaborn = "*"
cachetools = "*"
orjson = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
