[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ccxt = "*"
python-dotenv = "*"
websockets = "*"
aiocache = "*"
uuid = "*"
scikit-learn = "*"
wasmtime = "*"
uvloop = "*"
plotly = "*"
nbformat = "*"
matplotlib = "*"
seaborn = "*"
cachetools = "*"
orjson = "*"
scipy = "*"
cbor2 = "*"
llama-cpp-python = "0.2.82"
umap-learn = "*"
faiss-cpu = "*"
tensorflow = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
