[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ccxt = "*"
python-dotenv = "*"
websockets = "*"
aiocache = "*"
uuid = "*"
scikit-learn = "*"
joblib = "*"
wasmtime = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"

[scripts]
lint = "flake8"
